* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    color: #636363;
    font-weight: 400;
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    margin: auto;
}

.section-inner {
    overflow: hidden;
    padding-top: 115px;
}

/* header */
header {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 175px;
    height: 55px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.header_content nav ul li a {
    color: black;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    /* transition: all 0.3s; */
}

.header_content nav a span {
    display: inline-block;
    transition: all 0.5s;
}

.header_content nav a:hover {
    color: #f55f8d;
}

.header_content nav a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

.header_content ul li {
    list-style: none;
    display: inline-block;
    padding: 35px 17px;
}

.header_content .bg1 button {
    padding: 20px 45px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
    box-shadow: 0 0 20px #eee;

}

.header_content .bg1 button:hover {
    background-position: right center;

    color: #ffffff;
    text-decoration: none;
}

/* banner */
.banner {
    background-image: url(./../imgSamar/pic2.png);
    background-position: top;
    background-size: 100%;
    padding-top: 200px;
}

.banner_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}

.banner_title p {
    font-weight: 600;
    font-size: 22px;
    color: #f55f8d;
}

.banner_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;

}

.banner_ticker p {
    font-size: 20px;
}

.banner_ticker li {
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.banner_ticker i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: white;
    border-radius: 50%;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.bt1 {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 20px;
}

.bt1:hover {
    background-position: right center;

    color: #ffffff;
    text-decoration: none;
}

.banner_left p {
    margin-bottom: 20px;
}

.banner_right {
    width: 40%;
}
.banner_right img { 
    overflow: hidden;
}
/* services */
.services {
    text-align: center;
    padding: 50px;
    background-image: url(./../imgSamar/bg2.png);
    background-size: cover;
    background-position: top center;
}

.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;
    border-image: 100 round;
    border: 3px solid transparent;
}

.services_item:hover {
    transform: translateY(-20px);
    border-image: url(./../imgSamar/br.png) 1 round;
}

.services_item img {
    width: 215px;
}

.title_chung p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;

}

.title_chung h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

/* Aboutus */
.aboutus {
    background-image: url(../imgSamar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutus_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutus_content .aboutus_left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutus_left img {
    width: 100%;
    border-radius: 0 90px 90px 0;
    overflow: hidden;
}

.aboutus_content .aboutus_right {
    width: 50%;
}

.aboutus_right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

.aboutus_right ul li {
    list-style: none;
}

/* number */
.number {
    background-image: url(../imgSamar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number_content {
    display: flex;
    justify-content: space-around;
}

.number_item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

.features {
    background-image: url(../imgSamar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features_content {
    display: flex;
}

.features_left,
.features_right {
    width: 50%;
}

.features_item {
    padding: 0 50px 30px 0;
}

.features_bg {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features_bg::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;

}

.features_bg:hover::after {
    opacity: 1;
    /* color: white; */
}

.features_bg:hover i,
.features_bg:hover div,
.features_bg:hover h3 {
    color: white;
}

.features_item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features_item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.features_item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

.features_item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

.features_banner {
    margin-right: -80px;
}

.features_banner img {
    max-width: 100%;
    animation: move2 5s infinite;
    overflow: hidden;
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

/* portfolio */
.portfolio {
    background-image: url(../imgSamar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
}

.portfolio_content {

    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;

}

.portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_item1 {
    grid-column: 1 / span 2;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
    /* overflow-clip-margin: content-box; */
    overflow: clip;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
}

.portfolio_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.portfolio_icon a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
}

.portfolio_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.portfolio_text p {
    color: white;
    opacity: 0.7;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio_item5 {
    grid-column: 1 / span 2;
}

.portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio_item:hover::before {
    left: 125%;
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}

.portfolio_item:hover .portfolio_icon {
    transform: translate(0);
}

.portfolio_item:hover .portfolio_text {
    transform: translateY(0);
}

@keyframes fadeInUp {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/* blog */
/* .blog {
    background-image: url(../imgSamar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
} */

.custom-section {
    margin: 100px 0;
    background-image: url(../imgSamar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.container-blog {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* padding: 0 100px; */
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.detail {
    width: 100%;
    /* height: 86%; */
    border-radius: 10px;
    background-color: #feeff3;
    text-align: left;
}

.image-box {
    position: relative;
    margin-bottom: 20px;
}

.image-box img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.date-box {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    border-radius: 10px;
    width: 150px;
    padding: 10px 15px;
    position: absolute;
    left: 5%;
    bottom: -5%;
    background-size: 200%;
}

.text-box {
    padding: 0px 20px 50px;
    margin-bottom: 10px;
    /* position: relative; */
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);

}


.detail .title {
    color: #262626;
    margin: 0 auto;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.icons-cus ul {
    display: flex;
    flex-direction: row;
}

.icons-cus ul,
li {
    list-style: none;
}

.icons-cus li {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    text-transform: uppercase;
}

.icons-cus i {
    font-size: 1.5rem;
    margin-right: 5px;
}


.icons-cus li>span {
    font-size: 15px;
}

.coler-pink {
    color: #f55f8d;
}

/* buttom_tong */
.seach {
    margin-bottom: 30px;
    position: relative;
}

.seach_content {
    background-image: url(../imgSamar/pattern3.png);
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
    background-position: bottom;
    position: relative;
    
    /* background-color: #262626; */
}

/* .seach_content::before {
    content: "";
    background-image: url(../imgSamar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.seach_item i {
    
}

.seach_item {
    font-size: 0;
    display: flex;
}
.seach_item button {
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    padding: 20px 30px;
    /* border-radius: 8px; */
    border-radius: 0 10px  10px 0;
    font-size: 20px;
    background-size: 200%; 
    border: 1px solid transparent;
    line-height: 0;
    cursor: pointer;
    transition: all 0.5s;
}
.seach_item button:hover {
    background-position: right center;
    }

.seach_item button:hover i {
animation: toLeftFromRight 0.5s forwards;
display: inline-block;
}

@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}

.text1 {
    color: black;
    font-size: 20px;
}

input.contact{
    padding: 20px;
    outline: none;
    width: 430px;
    border-radius: 12px 0 0 12px;
    margin: 0;
    background-color: #fff;
    border: 1px solid transparent;
    display: inline-block;
    
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
    transition: all 0.5s;

}
input.contact:hover {
    border: 1px solid #f55f8d;
}

/* css mũi máy bay ngang */
/* footer */
footer{
    background-color: #0e1b1f;
    background-image: url(../imgSamar/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    font-size: 15px;
    position: relative;
}
.footer_top {
    display: flex;
    position: relative;
    padding: 70px 0;
}
footer::before {
    content: "";
    background-image: url(../imgSamar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.footer_item {
    width: 25%;
}
.footer_item .footer_contact i {
    background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    /* padding: 13px; */
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
   
}
.footer_item .footer_contact li {
    display: flex;
    align-items: center;
    padding: 10px 0;
   
}
.footer_item li {
    list-style: none;
    padding: 8px 0;
}
.footer_contact span {
    display: block;
}
.footer_item  li a {
    z-index: 2;
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
    text-decoration: none;
}
.footer_item li a:hover {
    color: white;
}
.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: white;
}
.footer_item h3::before,
.footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}
.footer_item h3::before {
    width: 15px;
}

.footer_item h3::after {
    width: 45px;
    left: 20px;
}
.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}
.footer_bottom {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left  span {
color: #f55f8d;
}
.footer_bottom a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}
.footer_bottom a:hover {
    background-color: #f55f8d;
}

.len_top {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all 0.5s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    opacity: 0 ;
    visibility: hidden;
}
.len_top a {
    text-decoration: none;
    color: white;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { 
    opacity: 0.8;
  }